@use "/src/shared/assets/styles/variables" as vars;

.item {
  background-color: vars.$Light_Grey;
  width: 100%;
  padding: 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: start;
  gap: 20px;

  &__img {
    width: 100%;

    .itemImg {
      width: 100%;
      object-fit: contain;
      height: 100vh;
    }
  }

  &__descr {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}