// Модульные стили для компонента поиска Search

@use "/src/shared/assets/styles/variables" as vars;
@use "/src/shared/assets/styles/mixin" as mix;

.search {
  width: 20px;
  height: 20px;
}

.input {
  @include mix.Input;
  background-color: vars.$Dark_Primary;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s ease;
  display: none;

  @media (max-width: 400px) {
    width: 20px;
  }

  &.active {
    margin-left: 10px;
    position: absolute;
    display: inline;
    visibility: visible;
    z-index: 10;
  }
}
