.advantages {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;

  &__title {
    margin-bottom: 50px;
    font-family: "Futura-Book";
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4rem;
  }

  .ul {
    width: 100%;

    .link {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      place-items: center;
      gap: 20px;

      .li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--background-color);
        padding: 30px;
        height: 260px;
        gap: 10px;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(1.05);
        }

        .svg {
          height: 35px;
        }

        h4 {
          overflow: hidden;
          width: 160px;
          height: 50px;
          font-family: "Futura-Light";
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.3rem;
        }

        p {
          overflow: hidden;
          text-overflow: ellipsis;
          height: 130px;
          font-family: "Futura-Light";
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1.1rem;
        }
      }
    }
  }
}
