.banner {
  background: url("/src/shared/assets/img/home/banner.jpeg") center/cover
    no-repeat;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .search {
    width: 30px;
  }

  &__item {
    max-width: 600px;
    background-color: #fff;
    margin: 5px;
    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .descr {
      display: flex;
      gap: 20px;
      flex-direction: column;

      h2 {
        font-family: "Futura-Book";
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 130px;
      }

      p {
        font-family: "Futura-Light";
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 130px;
      }
    }

    .button {
      @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@supports (-webkit-hyphens: auto) or (hyphens: auto) {
  .banner:after {
    content: "Background content";
    z-index: -10;
  }
}
