// Глобальные миксины

@use "./variables" as vars;

@mixin Input {
  font-family: "Futura-Light", sans-serif;
  border: none;
  height: 50px;
  padding: 13px 20px;
  cursor: pointer;
  min-width: 200px;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid var(--text-color);

  &::placeholder {
    font-family: "Futura-Light", sans-serif;
    font-size: 1rem;
    color: vars.$Light_Grey;
    transition: all 0.5s ease;
  }

  &:-webkit-input-placeholder {
    font-family: "Futura-Light", sans-serif;
    font-size: 1rem;
    color: vars.$Light_Grey;
  }

  &:-moz-placeholder {
    font-family: "Futura-Light", sans-serif;
    font-size: 1rem;
    color: vars.$Light_Grey;
  }

  &:-ms-input-placeholder {
    font-family: "Futura-Light", sans-serif;
    font-size: 1rem;
  }

  &:focus {
    outline: none;
    font-size: 1rem;
    color: vars.$Light_Grey;
  }

  &:focus::placeholder {
    font-size: 0.7rem;
    transform: translateY(-10px);
  }
}
